<h3>Chat:</h3>
<hr>
<input type="text" id="mensaje">
<div id="mensajes"></div>

<br><br>
<a href="/">home</a>

<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/chat.js"></script>